<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div>
                <h2 class="card-body text-start">
                    <b style="color: firebrick;font-size: xx-large;">Ajustes de Servidor</b>
                    <div class="text-end">
                      <button *ngIf="permisos?.exportar" type="button" class="mr-10 fz-14 btn btn-export" style="margin-right: 20px;width: 10%;font-size: 14px;" (click)="exportToExcel()">
                        <i class="fas fa-file-excel"></i> Exportar
                      </button>
                      <button *ngIf="permisos?.modificar" type="button" class="btn btn-danger btn-icon-end"
                      style="margin-right: 10px;width: 10%;font-size: 14px;" (click)="onUpdateConexionCORREO()" >
                      <i class="fas fa-save"></i> Guardar
                      </button>
                    </div>
                 </h2>
            </div>
            <app-loading-overlay *ngIf="isLoading"></app-loading-overlay>
            <form  style="margin-left: 30px;margin-right: 30px;">
              <div class="row" style="margin-bottom: 30px;" >
                <div class="col-md-6 d-flex align-items-center" >
                  <label for="nombre" class="me-2" style="color: crimson;margin-left: 20px;width: 19%;">Nombre</label>
                  <input type="text" [value]="NAME1" id="nombre"  class="form-control" style="width: 60%;border-color: darkgray;border-radius: 10px;">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                  <label for="servidor" class="me-2" style="color: crimson;margin-left: 20px;width: 19%;">Servidor</label>
                  <input type="text" [value]="SERV1" id="servidor"  class="form-control" style="width: 60%;border-color: darkgray;border-radius: 10px;">
                </div>
              </div>
              <div class="row" style="margin-bottom: 30px;">
                <div class="col-md-4 d-flex align-items-center" style="width: 50%;">
                  <label for="remitente" class="me-2" style="color: crimson;margin-left: 20px;width: 19%;">Remitente</label>
                  <input type="text" [value]="REMI1" id="remitente"  class="form-control" style="width: 60%;border-color: darkgray;border-radius: 10px;">
                </div>
                <div class="col-md-4 d-flex align-items-center" style="width: 24%;">
                  <label for="puerto" class="me-2" style="color: crimson;margin-left: 20px;width: 60%;">Puerto</label>
                  <input type="text" [value]="PORT1" id="puerto" oninput="this.value = this.value.replace(/[^0-9.]/g, '')"  class="form-control" style="width: 60%; border-color: darkgray; border-radius: 10px;" maxlength="4">
                </div>
                <div class="col-md-4 d-flex align-items-center" style="width: 24%;">
                  <label for="requiereSSL" class="me-2" style="color: crimson;margin-left: 20px;width: 47%;">Requiere SSL</label>
                  <input type="checkbox" [checked]="requiereSSL" (change)="requiereSSL = !requiereSSL" id="requiereSSL" style="border-color: darkgray;border-radius: 10px;accent-color: brown;">
                </div>
              </div>
              <div class="row" style="margin-bottom: 30px;">
                <div class="col-md-6 d-flex align-items-center">
                  <label for="usuario" class="me-2" style="color: crimson;margin-left: 20px;width: 19%;">Usuario</label>
                  <input type="text" [value]="USER1" id="usuario"  class="form-control" style="width: 60%;border-color: darkgray;border-radius: 10px;" maxlength="20">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                  <label for="contraseña" class="me-2" style="color: crimson;margin-left: 20px;width: 19%;">Contraseña</label>
                  <input id="contraseña" [value]="PASS1" [type]="showPassword ? 'text' : 'password'" class="form-control" style="width: 60%;border-color: darkgray;border-radius: 10px;" (blur)="showPassword = false" (input)="passwordValue = $event.target.value" required>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>