<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
      <clear /> <!-- Imperative Step, otherwise IIS will throw err -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
        <rule name="RequestBlockingRule1" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
            <match url="*" />
            <conditions>
                        <add input="{HTTP_HOST}" pattern="169.254.169.254" negate="true" />
                        <add input="{HTTP_HOST}" pattern="aws.zaproxy.org" />
            </conditions>
            <action type="AbortRequest" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>